.add__accessory form {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  justify-content: center;
  align-items: center;
}

.add__accessory form input,
textarea {
  width: 40%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(132, 133, 133);
  border-radius: 7px;
  background-color: #ffffff;
}
