.add__camera form {
  display: flex;
  flex-direction: column;
  /* width: 40%; */
  justify-content: center;
  align-items: center;
}

.add__camera form input {
  width: 40%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 7px;
  background-color: white;
}
.add__camera form textarea {
  background-color: white;
}
